.artifact-container {
  width: 70%;
  height: 100%;
  position: relative;
  display: flex;
}

.artifact-content {
  align-self: center;
}

.artifact-bottom-container {
  margin-top: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.decorative-bubble1 {
  position: relative;
  bottom: 10px;
  border-radius: 100%;
  background-color: #9be5d2;
  box-shadow: 0 0 12px 12px #9be5d2;
  height: 36px;
  width: 36px;
  margin: 4px;
}

.decorative-bubble2 {
  position: relative;
  top: 24px;
  border-radius: 100%;
  background-color: #c7f5e5;
  box-shadow: 0 0 12px 12px #c7f5e5;
  height: 24px;
  width: 24px;
  margin: 4px;
}

.artifact-link {
  font-size: large;
  font-weight: bold;
  height: 100px;
  width: 100px;
  padding: 16px;
  background-color: #38d2c2;
  box-shadow: 0 0 16px 16px #38d2c2;
  border-radius: 100%;
  text-decoration: none;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 28px;
}

.artifact-link:hover {
  background-color: #9be5d2;
  box-shadow: 0 0 20px 20px #9be5d2;
}

.artifact-image {
  width: 90%;
}

.last-updated {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  font-size: small;
}
