.artifacts {
    position: absolute;
    top: 0;
    width: calc(100% - 96px);
    height: calc(100% - 96px);
    display: grid;
    grid-template-columns: 40% 40%;
    gap: 0 20%;
    padding: 48px;
}

.artifacts button {
    height: 200px;
    width: 200px;
    border-radius: 100%;
    border: none;
    font-size: medium;
    
    background-color: #fcd8ae !important;
    box-shadow: 0 0 24px 24px #fcd8ae !important;
}

.artifacts button:hover {
    cursor: pointer;
    background-color: #fa874a;
    box-shadow: 0 0 24px 24px #fa874a;
}

.artifact1 {
    align-self: flex-start;
    justify-self: center;
    background-color: #c4f4e5;
    box-shadow: 0 0 24px 24px #c4f4e5;
    animation: float1 6s ease-in-out infinite;
}

.artifact2 {
    align-self: flex-start;
    justify-self: center;
    background-color: #f6ccd7;
    box-shadow: 0 0 24px 24px #f6ccd7;
    animation: float2 6s ease-in-out infinite;
}

.artifact3 {
    align-self: center;
    justify-self: left;
    background-color: #fff5af;
    box-shadow: 0 0 24px 24px #fff5af;
    animation: float3 6s ease-in-out infinite;
}

.artifact4 {
    align-self: center;
    justify-self: right;
    background-color: #b8c7f4;
    box-shadow: 0 0 24px 24px #b8c7f4;
    animation: float4 6s ease-in-out infinite;
}

.artifact5 {
    align-self: flex-end;
    justify-self: center;
    background-color: #f6ccd7;
    box-shadow: 0 0 24px 24px #f6ccd7;
    animation: float2 6s ease-in-out infinite;
}

.artifact6 {
    align-self: flex-end;
    justify-self: center;
    background-color: #c4f4e5;
    box-shadow: 0 0 24px 24px #c4f4e5;
    animation: float1 6s ease-in-out infinite;
}

@keyframes float1 {
    0% {
        transform: translateX(0) translateY(-10px);
    }

    25% {
        transform: translateX(10px) translateY(0);
    }

    50% {
        transform: translateX(0) translateY(10px);
    }

    75% {
        transform: translateX(-10px) translateY(0);
    }

    100% {
        transform: translateX(0) translateY(-10px);
    }
}

@keyframes float2 {
    0% {
        transform: translateX(10px) translateY(0);
    }

    25% {
        transform: translateX(0) translateY(10px);
    }

    50% {
        transform: translateX(-10px) translateY(0);
    }

    75% {
        transform: translateX(0) translateY(-10px);
    }

    100% {
        transform: translateX(10px) translateY(0);
    }
}

@keyframes float3 {
    0% {
        transform: translateX(0) translateY(10px);
    }

    25% {
        transform: translateX(-10px) translateY(0);
    }

    50% {
        transform: translateX(0) translateY(-10px);
    }

    75% {
        transform: translateX(10px) translateY(0);
    }

    100% {
        transform: translateX(0) translateY(10px);
    }
}

@keyframes float4 {
    0% {
        transform: translateX(-10px) translateY(0);
    }

    25% {
        transform: translateX(0) translateY(-10px);
    }

    50% {
        transform: translateX(10px) translateY(0);
    }

    75% {
        transform: translateX(0) translateY(10px);
    }

    100% {
        transform: translateX(-10px) translateY(0);
    }
}

@media (max-width: 999px) or (max-height: 799px) {
    .artifacts button {
        width: 160px;
        height: 160px;
    }
}