@import "../node_modules/normalize.css/normalize.css";

.App {
  text-align: center;
  font-family: "DIN Next Rounded LT W01 Regular";
  box-sizing: border-box;
}

.App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  position: relative;
}

.App-header h1 {
  margin-block: 8px;
}

.App-header h2 {
  margin-block: 8px;
}

.App-header h3 {
  margin-block: 16px;
}

.App-header h6 {
  margin-block: 0;
}

.header-bubble {
  border-radius: 100%;
  background-color: #ff500a;
  box-shadow: 0 0 48px 48px #ff500a;
  height: 50vh;
  aspect-ratio: 1 / 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 48px;
}

.term-buttons-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  margin-top: 8px;
  margin-bottom: 40px;
  font-size: large;
  font-weight: bold;
}

.term-buttons-wrapper {
  display: flex;
  gap: 60px;
}

.term-button {
  font-size: large;
  font-weight: bold;
  height: 56px;
  width: 56px;
  padding: 16px;
  background-color: #38d2c2;
  box-shadow: 0 0 16px 16px #38d2c2;
  border-radius: 100%;
  border: none;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.term-button:hover {
  cursor: pointer;
  background-color: #9be5d2;
  box-shadow: 0 0 16px 16px #9be5d2;
}

.term-button-active,
.term-button-active:hover {
  background-color: #9be5d2;
  box-shadow: 0 0 24px 24px #9be5d2;
}

.mobile-warning {
  display: none;
}

@media (max-width: 900px) or (max-height: 800px) {
  .mobile-warning {
    display: block;
    position: fixed;
    height: calc(100% - 48px);
    width: calc(100% - 48px);
    padding: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    z-index: 10;
  }
}
